/*  your css code here. If applicable */
.box::before{
	content:"Before Element";
	color:rgb(255, 0, 0);
	font-size:20px;
}
.box::after{
	content:"After Element";
	color:rgb(255, 0, 0);
	font-size:20px;
}